.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    
}


.checkoutproduct__info{
    padding-left: 20px;

}

.checkoutProduct__info>button{
   
    border:1px solid orange;
    color:#111;
    margin-top:10px;
}

.checkoutproduct__image{
    width: 180px;
    object-fit: contain;
    height: 180px;
}

.checkoutproduct__rating{
    display: flex;
}

.checkoutproduct__title{
    font-size: 15px;
    font-weight: 800;
}